<h1>Sweep Eng Run Import</h1>

<p>A text file (CSV), OpenOffice (ODS) or Excel (XLS,XLSX)  file can be used to import records. The first row should be the column name. The following columns are allowed.</p>

<ul>
  <% ScanEngRun.columns.each do |column| %>
    <% if column.name.in? [*ScanEngRun.import_attributes] %>
      <li>
        <strong><%= column.name %></strong> -
        <%= column.type.to_s.titleize %> type
      </li>
    <% end %>
  <% end %>
</ul>

<ul>
  <% ScanExLog.columns.each do |column| %>
    <% if column.name.in? [*ScanExLog.import_attributes] %>
      <li>
        <strong><%= column.name %></strong> -
        <%= column.type.to_s.titleize %> type
      </li>
    <% end %>
  <% end %>
</ul>

<p>If <strong>old_name</strong> column is supplied (same type as <strong>name</strong> column) it will update the matching record instead of creating a new one.</p>

<%= form_for @scan_eng_run_import do |f| %>
  <% if @scan_eng_run_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scan_eng_run_import.errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
      <% @scan_eng_run_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>
